<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ty.webproject.board.repository.BoardRepository">


	<update id="updateBoard" parameterType="java.util.HashMap">
		update TB_BOARD
		set
		contents = #{contents, jdbcType=CLOB}
		WHERE
		idx = #{idx, jdbcType=NUMERIC}
	</update>



</mapper>

